<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
	<body>
		<th:block th:insert="~{common/header}" />
		<h1>로그인페이지</h1>
		<form action="/signin" method="post">
			<p>
				<input type="text" name="email" placeholder="이메일 입력"/>
			</p>
			<p>
				<input type="password" name="pass" placeholder="비밀번호 입력"/>
			</p>
			<p>
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<input type="submit" value="로그인"/>
			</p>
		</form>
	</body>
</html>